<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="table-cell sumry-prod-name">
    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="text: $parent.name"></strong>
        </div>
    </div>
    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <!-- /ko -->
</div>
<div class="table-cell">
    <span data-bind="$parent"></span>
    <div class="details-price">
        &#x20b9;<span class="value" data-bind="text: getItemCrice($parent)"></span>
    </div>
</div>
<div class="table-cell">
    <div class="details-qty">
        <span class="value" data-bind="text: $parent.qty"></span>
        <span class="edit_qty"><a data-bind="attr: { href: getItemEdit($parent)}" class="edit_quantity"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
    </div>
</div>
<div class="table-cell">
<!-- ko foreach: getRegion('after_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
</div>
<div class="table-cell est-date">
    <div class="details-est">
       <span class="lite-text">Est. Delivery:</span>
       <span id="demo" class="set-dlv product-item-flavor" data-bind="text: getItemFlavor($parent)"></span>
    </div>
    <div class="detail_actions">
        <span class="remove_prod"><a class="remove_product" data-bind="attr: { href: getItemRemove($parent)}">Remove <span class="rit_arow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a></span>
    </div>
</div>