<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after"> 
		<observer name="case_myway" instance="Hiddentechies\Bizkick\Observer\CaseMyway" />
		<!-- <observer name="send_sms" instance="Hiddentechies\Bizkick\Observer\SendSMS" /> -->
    </event>
	<event name="sales_order_save_after"> 
     <observer name="send_sms" instance="Hiddentechies\Bizkick\Observer\SendSMS" />
    </event>
	<event name="sales_order_invoice_save_after">
	<observer name="case_invoice" instance="Hiddentechies\Bizkick\Observer\CaseInvoice" />
	</event>
</config>
