<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-order-details action">
	<div class="title">
		<span class="red">Your orders & details</span>
	</div>
	<div class="opc-row estimate">
		<span class="lite-text">Email :</span>
		<span class="clear-text green" id="demo1"></span>
		<div class="clear-text right black">Pincode:<span class="pin"></span></div>
	</div>
</div>
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>

<script type="text/javascript">
/*	require([ 'jquery', 'jquery/ui'], function($){
jQuery(document).ready(function(){ 
var today = new Date();
var dd = today.getDate();
alert("hello");
alert(dd);
});
})
	
var ViewModel = function(first) {
    this.delivery = ko.observable(first); 
    this.delivery = ko.computed(function() {
        return this.delivery();
    }, this);
};
ko.applyBindings(new ViewModel(dd));*/
</script>


<div class="payment-security-block">
	<div class="img-row">
		<div class="img-block">
			<img src="https://next.desiredesire.com/pub/static/frontend/Desire/desire/en_US/images/norton.png" alt="Norton" />
		</div>
		<div class="img-block">
			<img src="https://next.desiredesire.com/pub/static/frontend/Desire/desire/en_US/images/pci-dss.png" alt="PCI" />
		</div>
		<div class="img-block">
			<img src="https://next.desiredesire.com/pub/static/frontend/Desire/desire/en_US/images/mcafee.png" alt="MCAFEE" />
		</div>
	</div>
</div>